*.suo
*.user
*.userosscache
*.sln.docstates

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

.vs/
.vscode/

*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

.sass-cache/

*.cache
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

.idea/

*.db
*.db-shm
*.db-wal

ScaffoldingReadMe.txt

appsettings.Development.json
appsettings.Production.json

wwwroot/lib/

*~
*.tmp
*.bak
*.swp

*.png
*.jpg
*.jpegappsettings.json
appsettings.Development.json
appsettings.json
appsettings.Development.json
