@model Flight
@{
    ViewData["CreateFlight"] = "CreateFlight";
}

<!DOCTYPE html>

<html>
<head>
    
    
</head>
<body>
<title>title</title>
<form asp-action="CreateFlight" method="post">
        
    <div class="form-group">
        
    </div>
    <div class="form-group">
        <th>
            @Html.DisplayNameFor(model => model.DepartureCity)
        </th>
        <input asp-for="DepartureCity" class="form-control"/>
        <span asp-validation-for="DepartureCity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <th>
            @Html.DisplayNameFor(model => Model.ArrivalCity)
        </th>
        <input asp-for="ArrivalCity" class="form-control">
        <span asp-validation-for="ArrivalCity" class="text-danger"></span>
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(model => Model.DepartureDate)
        <input asp-for="DepartureDate"/>
        <span asp-validation-for="DepartureDate" class="text-danger"></span>
    </div>
    <div class="form-control">
        @Html.DisplayNameFor(model => Model.Price)
        <input asp-for="Price"/>
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        
        <label asp-for="AircraftId" class="control-label">Select Aircraft Here</label>
        <select asp-for="AircraftId" class="form-control" asp-items="ViewBag.AircraftList">
            <option value="">Please Select a Plane</option>
        </select>
        <span asp-validation-for="AircraftId" class="text-danger"></span>
        
    </div>
    <button type="submit" asp-action="createFlight" class="btn btn-primary">Save a Flight</button>
</form>
<div>

</div>
</body>
</html>