@model FlightManagementWeb.Models.Aircraft

@{
    ViewData["EditAircraft"] = "Edit Aircraft";
}
<body>

<form method="post" asp-action="EditAircraft">
    
    <h2>Edit Aircraft Information's</h2>
    
    <input type="hidden" asp-for="AircraftId" />

    <div class="mb-3">
        <label class="form-label">Tail Number</label>
        <input asp-for="TailNumber" type="text" class="form-control" placeholder="Enter Tail Number"/>
        <span asp-validation-for="TailNumber" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Aircraft Model</label>
        <input asp-for="AircraftModel" type="text" class="form-control" placeholder="Enter Aircraft Model"/>
        <span asp-validation-for="AircraftModel" class="text-danger"></span>
    </div>
    
    <div class="mb-3">
        <label class="form-label">Airline Name</label>
        <input asp-for="AirlineName" type="text" class="form-control" placeholder="Enter Airline Name"/>
        <span asp-validation-for="AirlineName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Capacity</label>
        <input asp-for="Capacity" type="number" class="form-control" placeholder="Enter Aircraft Capacity"/>
        <span asp-validation-for="Capacity" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Update the Airplane Information's</button>
    <a asp-action="AircraftMenu" class="btn btn-danger">Go Back</a>
</form>

</body>